/* Everything */
* {
    /* background-color: rgb(60, 60, 60);
    color: white; */
}


/* Body font */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5%;
    /* background-color: green; */
    
}

/* Main view */
.mainView {
    margin-left: 0;
    border-radius: 25px;
    padding: 25px;
    background: linear-gradient(to right top, rgb(90, 205, 144), rgb(10, 180, 206));
}

/* List Cover */
/* #display-entries {
    margin-top: 10px;
    width: fit-content;
    border: solid black 2px;
    border-radius: 25px;
    padding-right: 20px;
    padding-top: 10px;

} */

/* Entry Styling */
#entry-list li {
    list-style-type: none;
    font-size: 24px;

    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* text-decoration: underline; */
}

#entry-list li:nth-child(odd) {
    background: #f9f9f9;
}

#entry-list li:hover {
    background: #ddd;
}

/* Check mark */
#entry-list li.checkedEntry {
    text-decoration: line-through;
    background: rgb(63, 63, 63);
    color: #fff;
}

/* Add type entry styling */
.activity-type {
    color: white;
    margin: 0 45px;
    /* background-color: rgb(69, 158, 210); */
    padding: 2px 10px;
    border-radius: 25px;
    position: absolute;
    right: 20px;
}


/* UL border and size */
#entry-list {
    max-width: 120%;

}

/* delete button */
.delete-entry {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.delete-entry:hover {
    color: rgb(211, 12, 12);
    /* background-color: red; */
    /* border-radius: 50%; */
}

/* input widths */
#startTime, #endTime {
    width: 75px;

}
#activity {
    width: 230px;
}

/* chart */
#myChart {
    
}